<div class="page">
  <mat-card
    *ngFor="let category of categories"
    class="card star-wars-animation"
  >
    <div
      class="card-image"
      [style.background-image]="'url(' + category.image + ')'"
    >
      <div class="card-overlay">
        <div class="card-text">
          <h2 class="mat-h2">{{ category.name }}</h2>
          <p class="mat-body">{{ category.description }}</p>
          <button
            mat-raised-button
            color="accent"
            routerLink="/{{ category.path }}"
            class="explore-button"
          >
            Explorar
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<mat-toolbar color="primary">
  <h1 class="mat-h1">El</h1>
  <img src="../../assets/tierra.png" class="image-tierra" />
  <h1 class="mat-h1">de los</h1>
  <img src="../../assets/hot-dog.png" class="image-logo" />
  <h1 class="mat-h1">s</h1>
</mat-toolbar>
