.image-tierra {
  width: 4%;
  padding: 0 10px;
}
.image-logo {
  width: 5%;
  padding: 0px 7px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 2em; */
  height: 90%;
  flex-wrap: wrap;
}

.card {
  margin: 1em;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  animation-name: star-wars-card;
}

.card-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.card:hover .card-overlay {
  display: block;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.card-text {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100%;
}

.card-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mat-h1 {
  color: #ffe917;
}

.mat-h2,
.mat-body {
  margin: 0.5em 0;
  text-align: center;
}

.mat-raised-button {
  margin-top: 1em;
  align-self: center;
}

.explore-button {
  font-family: "Star Jedi", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background-color: #4d4dff;
  color: #000 !important;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.explore-button:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -10%;
  background-color: #ffe917;
  transform: rotate(-45deg);
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.explore-button:hover:before {
  transform: rotate(0);
}

.explore-button:active:before {
  transform: rotate(45deg);
}

.explore-button span {
  position: relative;
  z-index: 2;
}

.explore-button span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #4d4dff;
  z-index: -1;
  transition: width 0.3s ease-out;
}

.explore-button:hover span:after {
  width: 100%;
}

.star-wars-animation {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes star-wars-card {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
